function checkNews() {
    let text = document.getElementById("newsText").value;

    document.getElementById("result").innerHTML = "";

    fetch('https://fake-news-detector-waqm.onrender.com/predict', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ text: text })
    })
    .then(response => response.json())
    .then(data => {

        let resultDiv = document.getElementById("result");
        let bar = document.getElementById("scoreBar");

        let sourceHTML = "";

        if (data.sources && data.sources.length > 0) {
            sourceHTML = "<br><br><b>Sources:</b><br>";

            data.sources.forEach((src, index) => {
                sourceHTML += `<a href="${src}" target="_blank">${index + 1}. Open Article</a><br>`;
            });
        }

        resultDiv.innerHTML =
            `Prediction: ${data.prediction}<br>
             Score: ${data.score}%${sourceHTML}`;

        if (data.prediction === "Real") {
            resultDiv.style.color = "green";
            bar.style.background = "green";
        } else {
            resultDiv.style.color = "red";
            bar.style.background = "red";
        }

        bar.style.width = data.score + "%";
    })
    .catch(error => {
        console.log(error);
        document.getElementById("result").innerText = "Error connecting to server";
    });
}